
.DS_Store
Thumbs.db


.idea/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

.idea/
.vscode/

target/
*.log
hs_err_pid*
*.pem
*.p12
*.key

node_modules/
dist/
.angular/

.env
application.properties
application.yml

*.swp


backend/target/
*.log
*.class


frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
